[plugin]
active = true
sleep = 3600
delete_events = false
; ignore events with duration longer than max_event_duration days
max_event_duration = 30
; option to automatically delete obsolete pokemon from MAD database on start and end of spawn event to enable MAD to rescan pokemon. ['true' or 'false']
reset_pokemons = false
; option to use TRUNCATE SQL query instead of DELETE. Recommended for bigger instances ['true' or 'false']
reset_pokemons_truncate = false

[Quest Resets]
enable = true
default_time = 02:00
max_time = 12:00
check_timeframe = 18-23
reset_for = event:start community-day

; option to enable quest delete, which drop MAD table trs_quest on quest related event change ['true' or 'false']
enable_quest_delete = false
; Name Bashscript for execute 120 sec before Questreset
reset_script = resetscript.sh

; quest delete option: define event types, which shall be considered for quest reschedule. Separate different eventtypes with whitespace. <eventtype>:'start', 'end' or ''(=both)
delete_quests_for = event:start community-day
